{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}

<h1>Chercher un élément</h1>

<form action="{{ path('app_search') }}" method="get">
	<input type="text" name="search" id="search" placeholder="Rechercher un élément" value="{{ search }}">
	<select name="limit" id="limit">
		<option value="1" {% if limit == 1 %} selected {% endif %}>1 résultat</option>
		<option value="10" {% if limit == 10 %} selected {% endif %}>10 résultats</option>
		<option value="100" {% if limit == 100 %} selected {% endif %}>100 résultats</option>
	</select>
	<!-- type de document -->
	<select name="type" id="type">
		<option {% if type == 'all' %} selected {% endif %}>Tous les types</option>
		<option value="livre" {% if type == 'livre' %} selected {% endif %}>Livre</option>
		<option value="video" {% if type == 'video' %} selected {% endif %}>Vidéo</option>
	</select>
	<input type="submit" value="Rechercher">
</form>

{% if resultats is defined %}
	{% if resultats is empty %}
		<h2>Aucun résultat</h2>
	{% else %}
		<h2>{{ nb_resultats }}
			résultat(s)</h2>
		{% if pages|length > 1 %}
			<div class="pagination">
				{% if page_actuelle > 1 %}
					<a href="{{ path('app_search', {'search': search, 'limit': limit, 'page': page_actuelle - 1}) }}">Précédent</a>
				{% endif %}
				{% for page in pages %}
					{% if page == page_actuelle %}
						<span>{{ page }}</span>
					{% else %}
						<a href="{{ path('app_search', {'search': search, 'limit': limit, 'page': page}) }}">{{ page }}</a>
					{% endif %}
				{% endfor %}
				{% if page_actuelle < pages|length %}
					<a href="{{ path('app_search', {'search': search, 'limit': limit, 'page': page_actuelle + 1}) }}">Suivant</a>
				{% endif %}
			</div>
		{% endif %}
		<div class="resultats">
			{% for item in resultats %}
				<div class="item">
					<h3>
						{% if item.titre is defined %}
							{{ item.titre }}
						{% endif %}
						{% if item.titre is defined and item.complement_titre is defined %}
							-
						{% endif %}
						{% if item.complement_titre is defined %}
							{{ item.complement_titre }}
						{% endif %}
						{% if item.numero_serie is defined %}
							{{ item.numero_serie }}
						{% endif %}
						{% if item.annee is defined %}
							({{ item.annee }})
						{% endif %}
					</h3>
					{% if item.serie is defined %}
						<i>{{ item.serie.titre }}
						{% if item.serie.numero is defined %} {{ item.serie.numero }} {% endif %}</i>
					{% endif %}
					<p>{{ item.type }}</p>
					{% if item.auteur_short is defined %}
						<p>{{ item.auteur_short }}</p>
					{% endif %}
					{% if item.auteur_secondaire_short is defined %}{% for short in item.auteur_secondaire_short %}
						<p>{{ short }}</p>
					{% endfor %}
				{% endif %}
				{% if item.editeur is defined %}
					<p>{{ item.editeur }}</p>
				{% endif %}
				{% if item.collection is defined %}
					<p>{{ item.collection.titre }}
					{% if item.collection.date is defined %}
						({{ item.collection.date }})
					{% endif %}</p>
				{% endif %}
				{% if item.resume is defined %}
					<p>{{ item.resume }}</p>
				{% endif %}
				{% if item.code_barre is defined %}
					<p>{{ item.code_barre}}</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	{% if pages|length > 1 %}
		<div class="pagination">
			{% if page_actuelle > 1 %}
				<a href="{{ path('app_search', {'search': search, 'limit': limit, 'page': page_actuelle - 1}) }}">Précédent</a>
			{% endif %}
			{% for page in pages %}
				{% if page == page_actuelle %}
					<span>{{ page }}</span>
				{% else %}
					<a href="{{ path('app_search', {'search': search, 'limit': limit, 'page': page}) }}">{{ page }}</a>
				{% endif %}
			{% endfor %}
			{% if page_actuelle < pages|length %}
				<a href="{{ path('app_search', {'search': search, 'limit': limit, 'page': page_actuelle + 1}) }}">Suivant</a>
			{% endif %}
		</div>
	{% endif %}
{% endif %}{% endif %}{% endblock %}
